{% from "barrel/macros.jinja2" import menu_items %}

{% macro symbol(name) -%}
  <span class="glyphicon glyphicon-{{name}}" aria-hidden="true"></span>
{%- endmacro %}

{% macro input_symbol(name) -%}
    <span class="glyphicon glyphicon-{{name}} form-control-feedback"></span>
{%- endmacro %}

{% macro navigation(title, commands, logo=None) %}
  {% set logo = logo or url_for('static', filename='img/%s.png' % config['NAME']) %}
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home')}}">
        <img class="img-rounded" src={{ logo }} width=150>
      </a>
    </div>
    <ul class="nav navbar-nav">
      {{ menu_items(commands) }}
    </ul>
  </nav>
  <script>
    $(document).ready(function(){
    $('.dropdown-submenu a.dropdown').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
    });
    });
  </script>
{% endmacro %}
