{% extends "barrel/collection.jinja2" %}

{% block grid %}
<table class="grids"><tr><td width=50% style="vertical-align: top">
{{ render_grid(children[0]) }}
</td><td style="vertical-align: top">
{{ render_grid(children[1]) }}
</td></tr></table>
{% for child in children[2:] %}
{{ render_grid(child) }}
{% endfor %}

{% endblock grid %}
