{% from "barrel/forms.bootstrap.jinja2" import form_modal with context %}
{% from "barrel/bootstrap.jinja2" import symbol %}

{% macro datatable(api, columns, model=None, form=None, rows=None,
  title=None, show_form=False, allow_add=True, readonly=False, intro='', table_options=None) %}
  {% set basic = rows is iterable and rows is not string %}
  {% set columns = ['id'] + columns %}
  {% set title = title or api %}
  {% set table_options = table_options | tojson if table_options else "undefined" %}
  <h2>{{title | capitalize}}-overzicht</h2>
  {{intro}}
  <table id="{{title}}" class="display table table-striped" cellspacing="0" width="100%">
    <thead><tr>{% for col in columns %}<th>{{col}}</th>{% endfor %}</tr></thead>
    <tbody>
      {% if basic %}
        {%- for row in rows %}
          <tr>
            {% for col in columns %} <td>{{row[col]}}</td>{% endfor %}
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% set type = "basic" if basic else "json" %}
  <script>
    $(document).ready(function() {
      {{type}}_datatable("{{title}}", "{{api}}", {{columns | tojson}}, {{table_options}}, {{'false' if readonly else 'true'}})
    });
  </script>
  {% if api %}
    {% if allow_add and not readonly %}
      <a class="btn btn-primary" href="{{url_for(api, id=0, **kwargs)}}">{{symbol('plus')}} Voeg {{api}} toe</a>
    {% endif %}
    {% if form %}
      {{ form_modal(form, api, show_form, model=model, readonly=readonly, title=title) }}
    {% endif %}
  {% endif %}
{% endmacro  %}
