{% macro render_field(field, label_visible=true, colspan=1, readonly=False) -%}
     <td class="label{% if field.errors %} has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {%- if field.type != 'HiddenField' and field.name != 'csrf_token' and label_visible %}
            {{ field.label | safe }}
        {% else %}
            &nbsp;
        {% endif -%}
    </td><td class="input" colspan={{colspan}}>
        {% if readonly %}
        {{ field(class_='form-control', disabled=True, **kwargs) }}
        {% else %}
        {{ field(class_='form-control', **kwargs) }}
        {% endif %}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="error">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </td>
{%- endmacro %}

{% macro render_row(field, extra_field=None, fill=False, readonly=False) -%}
    <tr>
        {% if extra_field %}
            {{ render_field(field, readonly=readonly) }}<td class="filler"></td>{{ render_field(extra_field, readonly=readonly) }}
        {% else %}
            {{ render_field(field, readonly=readonly, colspan=4 if fill else 1) }}
        {% endif %}
    </tr>
{%- endmacro %}

{% macro render_form(form, id="form", method="POST", action_url='', readonly=False, enctype=None, submit_text="Opslaan") -%}
<form method={{method}} id="{{id}}" action="{{ action_url }}" role="form"{% if enctype %} enctype={{enctype}}{% endif %}>
    {{ form.hidden_tag() if form.hidden_tag }}
    <table class="form">
    {% if caller %}
        {{ caller() }}
    {% else %}
        {% for f in form %}
            {{ render_row(f) }}
        {% endfor %}
    {% endif %}
    </table>
{% if readonly %}
<script>
$(document).ready(function() {
    $('form#{{id}} input').each(function(i,e) {
        // $(e).attr('disabled', true);
        $(e).parent().html($(e).val());
    })
    $('form#{{id}} select').each(function(i,e) {
        $(e).parent().html($(e).val());
    })
    $('form#{{id}} textarea').each(function(i,e) {
        $(e).parent().html($(e).val());
    })
})
</script>
{% else %}
    <center><div id="progress"></div></center>
    <div class="buttons">
        <button type="button" id="cancel{{id}}">Annuleren</button>
        <button type="submit" name="{{id}}">{{submit_text}}</button>
    </div>
<script>
$(document).ready(function(){
    $('form#{{id}}').submit(function() {
        $('div#progress').html('<progress></progress>');
    })
})
</script>
{% endif %}
</form>
{%- endmacro %}
