{% macro datepicker(label, model, type="date") %}
<div class="input-field">
    <label for={{ label }}>{{ label }}</label>
    <input type="{{type}}" id={{ label }} value="{{model}}"/>
</div>
{% endmacro %}

{% macro select(label, values) %}
<label for="{{label}}">{{label | capitalize}}: </label><select name="{{label}}" id="{{label}}">
{% for v in values %}<option value="{{v}}">{{v}}</option>{% endfor %}
</select></td></tr><tr><td>
{% endmacro %}

{% macro period(label1="Periode", label2="tot", type="date") %}
<div class="input-field">
    <table><tr><td>
    <label for={{ label1 }}>{{ label1 }}</label></td><td>
    <input type="{{type}}" id="{{label1}}" name="{{label1}}"/></td><td>
    &nbsp;{{label2}}</td><td>
    <input type="{{type}}" class={{type}} id="{{label2}}" name="{{label2}}"/></td><td>
    </td></tr></table>
</div>
<script>
$(document).ready(function() {
    handle_period($('input#{{label1}}'), $('input#{{label2}}'));
})
</script>
{% endmacro %}

{% macro euro(label, model) %}
<div class="input-field">
    <i class="prefix">&euro;</i>
    <label for={{ label }}>{{ label }}</label>
    <input type="number" id={{ label }} value="{{model}}" step="0.01"/>
</div>
{% endmacro %}

{% macro submit(label, color) %}
<div class="input-field">
    <button class="btn waves-effect waves-light darken-3 {{color}}" id="submit">{{label}}</button>
</div>
{% endmacro %}

{% macro text(label, model) %}
<div class="input-field">
    <label for={{ label }}>{{ label }}</label>
    <input type="text" id={{ label }} value="{{model}}" />
</div>
{% endmacro  %}

{% macro textarea(label, model) %}
<div class="input-field col s12">
    <label for="{{label}}">{{label}}</label>
    <textarea id="{{label}}" class="materialize-textarea"></textarea>
</div>
{% endmacro %}

{% macro footer(text) %}
<footer class="page-footer {{ basecolor }}">
  <div class="footer-copyright">
    <div class="container">
    {% block footer %}&copy; 2016 steets@otech.nl{% endblock footer %}
    <a class="grey-text text-lighten-4 right" href={{ url_for('admin.index') }}>OTech.nl</a>
    </div>
  </div>
</footer>
{% endmacro %}

{% macro _raw_messages(messages) %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro _toastr_messages(messages) %}
    <script>
    $(document).ready(function(){
    {%- for category, message in messages %}
      toastr["{{category}}"]("{{message}}");
    {%- endfor %}
    })
    </script>
{% endmacro %}

{% macro messages(use_toastr=False) %}
{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    {% if use_toastr %}
      {{ _toastr_messages(messages) }}
    {% else %}
        {{ _raw_messages(messages) }}
    {% endif %}
  {% endif %}
{%- endwith %}
{% endmacro %}

{% macro toastr_messages() %}
{{ messages(True) }}
{% endmacro %}

{% macro menu_items(commands, nav_class="nav navbar-nav") %}
  <ul class="{{nav_class}}">
    {% for cmd, label in commands %}
        {% if cmd is string %}
            <li {% if cmd == active_page %}class="active"{% endif %}><a href="{{ url_for(cmd) }}">{{label | capitalize}}</a></li>
        {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ label }}<span class="caret"></span></a>
                {{ menu_items(cmd, 'dropdown-menu')}}
            </li>
        {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro navigation(title, commands) %}
<nav>
    <li><a class="navbar-brand" href="{{ url_for('home')}}">{{title}}</a></li>
    {{ menu_items(commands) }}
    <li class="right"><a href="{{ url_for('profile')}}">{{current_user}}</a></li>
</nav>
{% endmacro %}

{% macro model_table(model, fields=None, table_args=None) %}
{%- set fields=fields or model.columns() -%}
<table class="table striped-table"{% if table_args %} {{table_args | safe}}{% endif %}>
{%- for field in fields %}
{%- if not field=='id' and not field.endswith('_id') and model[field]!=None and model[field]!='' %}
<tr>
<td class="label">{{ field | replace('_', ' ') | capitalize}}:</td>
<td class="input">
{% if not model[field] is string and model[field] is iterable %}
{{ model[field] | join(', ')}}
{% else %}
{{ model[field] | safe }}
{% endif %}
</td></tr>
{%- endif %}
{%- endfor %}
</table>
{% endmacro %}
