{% extends "base.jinja2"%}

{% block content %}
  <h1>Database init (reset)</h1>
  <div class="alert alert-danger" role="alert">This will destroy ALL your data!!!</div>
  <div class="alert alert-warning" role="alert">As a consequence you will be logged out...</div>
  Are you sure?
      <a class="btn btn-danger" href="{{ url_for('init', status='confirmed') }}">Yes</a>
      <a class="btn btn-success" href="{{ url_for('home') }}">NO</a>
{% endblock content %}
